# 1.Boston 주택가격 예측

In [46]:
from sklearn.datasets import load_boston

data = load_boston()
data.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [9]:
import pandas as pd

X_df = pd.DataFrame(data.data, columns=data.feature_names)
X_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
y_df = pd.DataFrame(data.target, columns=['target'])
y_df.head()

   target
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2

## 데이터 전처리

In [13]:
# 결측치 처리
X_df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [26]:
# 스케일링
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_df = pd.DataFrame(scaler.fit_transform(X_df), columns=data.feature_names)
X_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.000000,0.18,0.067815,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.208015,0.287234,1.000000,0.089680
1,0.000236,0.00,0.242302,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.104962,0.553191,1.000000,0.204470
2,0.000236,0.00,0.242302,0.0,0.172840,0.694386,0.599382,0.348962,0.043478,0.104962,0.553191,0.989737,0.063466
3,0.000293,0.00,0.063050,0.0,0.150206,0.658555,0.441813,0.448545,0.086957,0.066794,0.648936,0.994276,0.033389
4,0.000705,0.00,0.063050,0.0,0.150206,0.687105,0.528321,0.448545,0.086957,0.066794,0.648936,1.000000,0.099338

In [27]:
# 레이블인코딩 : 할 거 없음

In [31]:
# 학습-테스트 데이터 분리
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, test_size=0.2, shuffle=True)

## 모델 생성

#### 단순 선형회귀

In [45]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(X_train, y_train)
preds = lr.predict(X_test)

from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
mse = mean_squared_error(preds, y_test)
rmse = np.sqrt(mse)
r2 = r2_score(preds, y_test)

print("mse: {0:.3f}".format(mse))
print(rmse)
print(r2)

mse: 17.993
4.241773708973885
0.7161548855795692

#### feature selection 적용

#### GridSearchCV 적용

In [ ]:
# 하이퍼파라미터 조정
from sklearn.model_selection import GridSearchCV
grid_cv = GridSearchCV()

#### 규제 있는 회귀 적용

# 2.Bike Sharing Demand

In [78]:
print(train_data.shape)
print(train_data.keys())

(10886, 12)
Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [79]:
print(test_data.shape)
print(test_data.keys())

(6493, 9)
Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed'],
      dtype='object')

In [80]:
train_data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [143]:

print(train_data.shape)
print(train_data.keys())

(10886, 10)
Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'count'],
      dtype='object')

In [144]:

X_data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0

In [83]:
print(X_data['season'].value_counts())
print(X_data['holiday'].value_counts())
print(X_data['workingday'].value_counts())
print(X_data['weather'].value_counts())

4    2734
3    2733
2    2733
1    2686
Name: season, dtype: int64
0    10575
1      311
Name: holiday, dtype: int64
1    7412
0    3474
Name: workingday, dtype: int64
1    7192
2    2834
3     859
4       1
Name: weather, dtype: int64

#### datetime 타입으로 변형

In [84]:

X_data['datetime']

0       2011-01-01 00:00:00
1       2011-01-01 01:00:00
2       2011-01-01 02:00:00
3       2011-01-01 03:00:00
4       2011-01-01 04:00:00
                ...
10881   2012-12-19 19:00:00
10882   2012-12-19 20:00:00
10883   2012-12-19 21:00:00
10884   2012-12-19 22:00:00
10885   2012-12-19 23:00:00
Name: datetime, Length: 10886, dtype: datetime64[ns]

NameError: name 'x_data' is not defined

In [92]:
X_data.drop(columns=['datetime'], inplace=True)

In [161]:
import pandas as pd

def load_datas():
    train_data = pd.read_csv('bike_sharing/train.csv')
    test_data = pd.read_csv('bike_sharing/test.csv')
    
    train_data.drop(columns=['casual', 'registered'], inplace=True)
    
    X_data = train_data.iloc[:, :-1]
    y_data = train_data.iloc[:, -1]
    
    X_data['datetime'] = X_data['datetime'].apply(pd.to_datetime)
    
    X_data['year'] = X_data['datetime'].apply(lambda x: x.year)
    X_data['month'] = X_data['datetime'].apply(lambda x: x.month)
    X_data['day'] = X_data['datetime'].apply(lambda x: x.day)
    X_data['hour'] = X_data['datetime'].apply(lambda x: x.hour)
    X_data['minute'] = X_data['datetime'].apply(lambda x: x.minute)
    
    X_data.drop(columns=['datetime'], inplace=True)
    
    return X_data, y_data

#### 데이터 분리

In [93]:
y_data.head()

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [94]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.2)

In [95]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(8708, 13)
(2178, 13)
(8708,)
(2178,)

#### 모델링 - 단순회귀

In [97]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(X_train, y_train)
preds = lr.predict(X_test)

from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
mse = mean_squared_error(preds, y_test)
rmse = np.sqrt(mse)
r2 = r2_score(preds, y_test)

print("{0:.2f}".format(mse))
print("{0:.2f}".format(rmse))
print("{0:.2f}".format(r2))
# 성능이 너무 엉터리임!!!!

19599.74
140.00
-0.53

In [124]:
# MinMaxScaling을 하고 다시 학습해보자!
from sklearn.preprocessing import MinMaxScaler

In [131]:
X_data_scaled = MinMaxScaler().fit_transform(X_data[['temp', 'atemp', 'humidity', 'windspeed']])

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [138]:
X_data['temp'] = X_data_scaled[:,0]
X_data['atemp'] = X_data_scaled[:,1]
X_data['humidity'] = X_data_scaled[:,2]
X_data['windspeed'] = X_data_scaled[:,3]
X_data.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day,hour,minute
0,1,0,0,1,0.224490,0.305068,0.81,0.0,2011,1,1,0,0
1,1,0,0,1,0.204082,0.288064,0.80,0.0,2011,1,1,1,0
2,1,0,0,1,0.204082,0.288064,0.80,0.0,2011,1,1,2,0
3,1,0,0,1,0.224490,0.305068,0.75,0.0,2011,1,1,3,0
4,1,0,0,1,0.224490,0.305068,0.75,0.0,2011,1,1,4,0

In [166]:
# 여러번 해야하니까 함수로 만들기
def lr_process(X_data, y_data):
    X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.2)
    
    lr = LinearRegression()
    print(X_train.shape, y_train.shape)

    lr.fit(X_train, y_train)
    preds = lr.predict(X_test)

    from sklearn.metrics import mean_squared_error, r2_score
    import numpy as np
    mse = mean_squared_error(preds, y_test)
    rmse = np.sqrt(mse)
    r2 = r2_score(preds, y_test)

    print("{0:.2f}".format(mse))
    print("{0:.2f}".format(rmse))
    print("{0:.2f}".format(r2))
    
    return lr

In [141]:
lr_process(X_data, y_data)
# MinMax Scaling 했지만 별로 차이가 없음.. 오히려 오차가 늘어남 ^^;

20357.94
142.68
-0.52

In [162]:
# MinMax Scaling 말고 로그변환 해보자 !
X_data, y_data = load_datas()

In [163]:
# inflearn에서 제공한 코드는 y target만 변환했음 ..

print(np.mean(y_data), type(y_data))
y_data = np.log1p(y_data)
print(np.mean(y_data), type(y_data))

191.57413191254824 <class 'pandas.core.series.Series'>
4.591363690454028 <class 'pandas.core.series.Series'>

In [164]:
X_data.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day,hour,minute
0,1,0,0,1,9.84,14.395,81,0.0,2011,1,1,0,0
1,1,0,0,1,9.02,13.635,80,0.0,2011,1,1,1,0
2,1,0,0,1,9.02,13.635,80,0.0,2011,1,1,2,0
3,1,0,0,1,9.84,14.395,75,0.0,2011,1,1,3,0
4,1,0,0,1,9.84,14.395,75,0.0,2011,1,1,4,0

In [167]:
lr = lr_process(X_data, y_data)

(8708, 13) (8708,)
1.03
1.01
-0.06